h1 {
    color: darkgreen;
    text-align: center;
    letter-spacing: 15px;
    text-shadow: 2px 2px lightgreen;
    font-family: "Copperplate", "Copperplate", fantasy;
    font-style: italic;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-color: lightseagreen;
    text-decoration-style: wavy;
    font-size: 50px;
}

p {
    color: darkblue;
    text-align: justify;
    letter-spacing: 5px;
    text-shadow: 2px 2px lightskyblue;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-color: rgb(131, 130, 204);
    text-decoration-style: dotted;
    font-size: 25px;
}

img {
    border: 5px solid #555;
    border-style: dotted;
    border-radius: 20px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    margin-left: auto;  
    margin-right: auto;
    text-align: center;
}

table {
    width: 50%;
    align-items: center;
}

th, td {
    height: 30px;
    font-family: "Copperplate", "Copperplate", fantasy;
    text-transform: uppercase;
    letter-spacing: 5px;
}

th {
    background-color: lawngreen;
    color: darkolivegreen;
    font-size: 25px;
}

tr:hover {background-color: lightgreen;}

body {
    background-image: linear-gradient(to right, rgba(255,255,255, 0.7) 0 100%), url(https://static.vecteezy.com/system/resources/previews/005/153/192/original/abstract-ornamental-seamless-pattern-with-leafs-in-navy-background-floral-repeating-background-endless-print-texture-fabric-design-wallpaper-free-vector.jpg);
    background-size: cover;
    column-count: 2;
    column-gap: 20px;
}

a:link, a:visited {
    background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: black;
    background-color: lawngreen;
}

/*vastused küsimustele s8 töölehes:*/ 
/*1) üks viis on see, mis ma tegin (column-count'iga) ning veel oli võimalik "<div> </div>" kasutada*/ 
/*2) sest see teeb html faili raskesti loetavaks, kui kujundus on eraldi, siis on sisust lihtsam aru saada*/ 